body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 30px;
    background: #ddd;
}

header,article,footer {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 40px 0;
    background: #fff;
}

header h1 {
    margin: 0 12px;
    padding: 0;
    font-size: 24px;
    letter-spacing: 6px;
    font-weight: 100;
    text-transform: uppercase;
}

.button {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: #141;
    text-shadow: 1px 1px 3px #5a5, -2px -2px 3px #fff;
    background: #dfd;
    background: linear-gradient(to bottom, #dfd, #afa);
    border: 1px solid #7f7;
    box-shadow: inset 2px 2px 8px rgba(255,255,255,.8),
                inset -2px -2px 8px #9f9;
    transition: box-shadow .3s ease-out;
}

.button.login {
    width: 100px;
    padding: 10px 20px;
    box-shadow: inset 2px 2px 8px rgba(255,255,255,.8),
                inset -2px -2px 8px #9f9,
                0px 0px 12px 4px rgba(240,255,240,.6);
}

.button:hover {
    background: linear-gradient(to bottom, #efe, #cfc);
    box-shadow: inset 2px 2px 8px rgba(255,255,255,.8),
                inset -2px -2px 8px #9f9,
                0px 0px 8px  rgba(240,255,240,.6);
}

.button:active {
    background: linear-gradient(to top, #dfd, #afa);
}

#count-bar {
    box-sizing: border-box;
    height: 55px;
    margin: 0 auto;
    padding: 0;
    background: #fdfdfd;
    border: 1px solid #eee;
    border-radius: 15px;
    -webkit-transition: all 1s ease-in-out;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    overflow: hidden;
    text-align: center;
}

#count-bar.hidden {
    height: 0;
    border: 0;
}

#count-bar .button {
    display: inline-block;
    width: 300px;
}

#count-bar p {
    margin: 5px 20px;
}

#count { font-weight: 100; }

#photos {
    list-style: none;
    margin: 30px 0 0;
    padding: 0;
    overflow: hidden;
}

#photos li {
    float: left;
    display: inline-block;
    width: 150px;
    margin: 0 12px 30px;
    padding: 0;
}

/*#photos li:nth-child(4n+1) {
    clear: left;
}*/

#photos li a {
    display: block;
    text-decoration: none;
}

#photos li img {
    display: block;
    margin: 0 0 5px;
    border-radius: 75px;
}

#photos li strong {
    display: block;
    text-align: center;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;
}

footer {
    margin-top: 0;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 20px;l
    text-transform: uppercase;
}
